
		<section id="services">


			<div class="container">
				<div class="row">

					<div class="col-sm-2">

						<div class="ser text-center">

							<h4><i class="fas fa-paint-brush"></i></h4>

							<p>STUNNING DESIGN
							</p>


						</div>



					</div>


					<div class="col-sm-2">

						<div class="ser text-center">

							<h4><i class="far fa-clock"></i></h4>

							<p>TIME SAVER
							</p>


						</div>



					</div>





					<div class="col-sm-2">

						<div class="ser text-center">


							<h4><i class="fas fa-paint-brush"></i></h4>



							<p>STUNNING DESIGN
							</p>


						</div>



					</div>






					<div class="col-sm-2">

						<div class="ser text-center">

							<h4><i class="fas fa-paint-brush"></i></h4>

							<p>STUNNING DESIGN
							</p>


						</div>



					</div>






					<div class="col-sm-2">

						<div class="ser text-center">

							<h4><i class="fas fa-paint-brush"></i></h4>

							<p>STUNNING DESIGN
							</p>


						</div>



					</div>







					<div class="col-sm-2">

						<div class="ser text-center">

							<h4><i class="fas fa-paint-brush"></i></h4>

							<p>STUNNING DESIGN
							</p>


						</div>



					</div>






				</div>

				<div class="row">

					<div class="col-sm-5">
						<div class="what">

							<h3 class="plo">What We Do.</h3>

							<p class="lkj">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ipsam ullam incidunt itaque nemo omnis temporibus totam quibusdam repellat vero, recusandae excepturi dignissimos velit et alias amet, quia facilis perferendis.

							</p>


						</div>

					</div>

					<div class="col-sm-1">
					</div>


					<div class="col-sm-3">
						<div class="what">

							<p><i class="far fa-check-circle"></i><span>Research</span></p>
							<p><i class="far fa-check-circle"></i><span>Opportunity Analysis
								</span></p>
							<p><i class="far fa-check-circle"></i><span>Consulting</span></p>
							<p><i class="far fa-check-circle"></i><span>Brand Planning
								</span></p>
							<p><i class="far fa-check-circle"></i><span>Customer Support
								</span></p>

						</div>

					</div>




					<div class="col-sm-3">
						<div class="what">

							<p><i class="far fa-check-circle"></i><span>Logo & Branding
								</span></p>
							<p><i class="far fa-check-circle"></i><span>Style guides

								</span></p>
							<p><i class="far fa-check-circle"></i><span>Motion graphics
								</span></p>
							<p><i class="far fa-check-circle"></i><span>UX/UI-design

								</span></p>
							<p><i class="far fa-check-circle"></i><span>Social media design
								t
								</span></p>

						</div>

					</div>



				</div>





			</div>
		</section>
