
		<section id="team">
			<div class="container text-center">

				<h3>Creative Team</h3>
				<span>We are digital thinkers</span>


				<div class="row">

					<div class="col-sm-3">

						<div class="dteam">

							<img class="img-fluid" src="assets/team-1.jpg" />

							<div class="img-caption-team">

								<div class="icons">

									<i class="fab fa-facebook-f"></i>
									<i class="fab fa-twitter"></i>
									<i class="fab fa-linkedin-in"></i>
								</div>
								<p class="cage">
									<strong>Luke Cage</strong>
								</p>
								<p class="founder1">
									Founder & CEO
								</p>

							</div>


						</div>

					</div>



					<div class="col-sm-3">

						<div class="dteam">

							<img class="img-fluid" src="assets/team-2.jpg" />

							<div class="img-caption-team">

								<div class="icons">

									<i class="fab fa-facebook-f"></i>
									<i class="fab fa-twitter"></i>
									<i class="fab fa-linkedin-in"></i>
								</div>
								<p class="cage">
									<strong>JESSICA JONES</strong>
								</p>
								<p class="founder1">
									Product Designer
								</p>

							</div>


						</div>

					</div>




					<div class="col-sm-3">

						<div class="dteam">

							<img class="img-fluid" src="assets/team-3.jpg" />

							<div class="img-caption-team">

								<div class="icons">

									<i class="fab fa-facebook-f"></i>
									<i class="fab fa-twitter"></i>
									<i class="fab fa-linkedin-in"></i>
								</div>
								<p class="cage">
									<strong>MATT MURDOCK
									</strong>
								</p>
								<p class="founder1">
									Lead Developer

								</p>

							</div>


						</div>

					</div>




					<div class="col-sm-3">

						<div class="dteam">

							<img class="img-fluid" src="assets/team-4.jpg" />

							<div class="img-caption-team">

								<div class="icons">

									<i class="fab fa-facebook-f"></i>
									<i class="fab fa-twitter"></i>
									<i class="fab fa-linkedin-in"></i>
								</div>
								<p class="cage">
									<strong>CLAIRE TEMPLE
									</strong>
								</p>
								<p class="founder1">
									Sales Manager

								</p>

							</div>


						</div>

					</div>



				</div>


			</div>


		</section>

