
		<section id="Works">
			<div class="container-fluid">

				<div class="workesd text-center">
					<h2 class="work-h">

						<span class="hgy text-center">Our Works
							<p class="os">O</p>
							<div class="brd"></div>
						</span>




					</h2>


				</div>



				<div class="fdc py-5">



					<ul class="nav justify-content-center">
						<li class="nav-item">
							<a class="nav-link al" >ALL</a>
						</li>
						<li class="nav-item">
							<a class="nav-link br">Branding</a>
						</li>
						<li class="nav-item">
							<a class="nav-link pd">Product Design</a>
						</li>
						<li class="nav-item">
							<a class="nav-link pac">Packaging</a>
						</li>
						<li class="nav-item">
							<a class="nav-link ui">UI/UX</a>
						</li>

					</ul>


				</div>



				<div class="row py-4 text-center">

					<div class="col-sm-4 byg text-center py-2">

						<div class="prod text-center m-auto">
							<img class="img-fluid" src="assets/portfolio-1.jpg"/>

							<div class="prod-caption text-center">

								<h3>Mux Cards</h3>
								<p>Branding, UI/UX</p>


							</div>




						</div>
					</div>

					<div class="col-sm-4 fyg text-center py-2">

						<div class="prod text-center m-auto">
							<img class="img-fluid" src="assets/portfolio-2.jpg"/>

							<div class="prod-caption text-center">

								<h3>Mux Cards</h3>
								<p>Branding, UI/UX</p>


							</div>




						</div>
					</div>

					<div class="col-sm-4 gyg text-center py-2">

						<div class="prod text-center m-auto">
							<img class="img-fluid" src="assets/portfolio-3.jpg"/>

							<div class="prod-caption text-center">

								<h3>Mux Cards</h3>
								<p>Branding, UI/UX</p>


							</div>




						</div>
					</div>

					<div class="col-sm-4 wyg text-center py-2">

						<div class="prod text-center m-auto">
							<img class="img-fluid" src="assets/portfolio-4.jpg"/>

							<div class="prod-caption text-center">

								<h3>Mux Cards</h3>
								<p>Branding, UI/UX</p>


							</div>




						</div>
					</div>

					<div class="col-sm-4 qyg text-center py-2">

						<div class="prod text-center m-auto">
							<img class="img-fluid" src="assets/portfolio-5.jpg"/>

							<div class="prod-caption text-center">

								<h3>Mux Cards</h3>
								<p>Branding, UI/UX</p>


							</div>




						</div>
					</div>

					<div class="col-sm-4 hyg text-center py-2">

						<div class="prod text-center m-auto">
							<img class="img-fluid" src="assets/portfolio-6.jpg"/>

							<div class="prod-caption text-center">

								<h3>Mux Cards</h3>
								<p>Branding, UI/UX</p>


							</div>




						</div>
					</div>







				</div>



			</div>
		</section>
